{{#each scoreData}}
    <tr>
        <td>{{inc @index}}</td>
        <td name="highscores" data-score="{{dataValues.score}}">{{dataValues.score}}</td>
        <td name="topUsers" data-user="{{dataValues.user.dataValues.user_name}}"><a href="/view-user/{{dataValues.user.dataValues.id}}">{{dataValues.user.dataValues.user_name}}</a></td>
        <td>{{dataValues.user.dataValues.power_level}}</td>
    </tr>
{{/each}}
