<tr>
    <td>
        <img name="avatar" id="{{dataValues.user_name}}" data-powerlevel="{{dataValues.power_level}}" src="/images/goldCrown1.png" class="w-25">
    </td>
    <td>{{dataValues.power_level}}</td>
    <td><a href="/view-user/{{dataValues.id}}">{{dataValues.user_name}}</a></td>
    {{!-- <td>82</td> --}}
</tr>