{{!-- Receive the quiz from quizRoutes.js --}}
{{!-- STILL NEEDS STYLING --}}

<h1 id="quiz-id" data-quiz="{{quizData.dataValues.id}}">{{quizData.dataValues.title}}</h1>
<p id="user-id" data-usersession="{{user_id}}" class="d-none">{{user_id}}</p>
<p id="powerLevel" data-powerlevel="{{powerLevel}}" class="d-none">{{powerLevel}}</p>
{{#each quizData.dataValues.questions as | questions |}}
<h2 class="pt-3">{{question}}</h2>

<form>
    <div>
        <input type="radio" value="{{answers.a}}" class="form-check-input" name="questionAnswers" id="AnswerOne{{number}}">{{answers.a}}</input>
        <label class="form-check-label" for="AnswerOne{{number}}"></label>
    </div>
    <div>
        <input type="radio" value="{{answers.b}}" class="form-check-input" name="questionAnswers" id="AnswerTwo{{number}}">{{answers.b}}</input>
        <label class="form-check-label" for="AnswerTwo{{number}}"></label>
    </div>
    <div>
        <input type="radio" value="{{answers.c}}" class="form-check-input" name="questionAnswers" id="AnswerThree{{number}}">{{answers.c}}</input>
        <label class="form-check-label" for="AnswerThree{{number}}"></label>
    </div>
    <div>
        <input type="radio" value="{{answers.d}}" class="form-check-input" name="questionAnswers" id="AnswerFour{{number}}">{{answers.d}}</input>
        <label class="form-check-label" for="AnswerFour{{number}}"></label>        
    </div>
</form>
    <p id="correctAnswer{{number}}" name="correctAnswer" class="d-none">{{correct}}</p>
    {{/each}}

<button id="submitBTN">Submit</button>

<script src="../public/js/quiz.js" type="text/javascript"></script> 



{{!-- <button id="AnswerOne">{{quiz.question[{{>}}].answers.a}}</button>
<button id="AnswerTwo">{{quiz.question[{{>}}].answers.b}}</button>
<button id="AnswerThree">{{quiz.question[{{>}}].answers.c}}</button>
<button id="AnswerFour">{{quiz.question[{{>}}].answers.d}}</button> --}}

